
/*Sherest*/
footer {
  background-color: var(--footer-color);
  color: var(--background-color);
  padding: 2rem 0;
  margin-top: 3rem;
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

.footer > div {
  display: grid;
  align-items: center;
  grid-template-columns: auto 70%;
  grid-template-rows: auto;
  grid-template-areas:
          "brand nav"
          "disc disc";
}

.footer .brand {
  grid-area: brand;
}

.footer .nav {
  grid-area: nav;
}

.footer .disc {
  grid-area: disc;
  padding-top: 20px;
}

footer ul {
  list-style: none;
  margin: 0;
  padding-inline-start: 0;
}

footer li {
  display: block;
  float: left;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  padding: 15px 17px;
  text-decoration: none;
}

.footer a {
  color: white;
}

footer .footer p {
  margin: 0;
  font-size: var(--body-font-size-xs);
  line-height: 1.25;
}
